<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
</head>
<body>
<form method="get" action="/star/3">
  <div align="center">
    <h2>Who is your favorite star?(두 번째 매치)</h2>

    <table width="600" border="1">
      <tr>
        <td><img src="/자장면.jpg" width="250" height="280" alt="자장면">
        <td><img src="/햄버거.jpg" width="250" height="280" alt="햄버거">
      <tr>
        <th><input type="radio" name="choice2" value="자장면" >자장면
        <th><input type="radio" name="choice2" value="햄버거">햄버거
      <tr>
    </table>

    <button>선택</button>
  </div>
</form>
</body>
</html>