<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
</head>
<body>
<form method="get" action="/star/2">
    <div align="center">
        <h2>Who is your favorite star?(첫 번째 매치)</h2>

        <table width="600" border="1">
            <tr>
                <td><img src="/피자.jpg" width="250" height="280" alt="피자">
                <td><img src="/치킨.jpg" width="250" height="280" alt="치킨">
            <tr>
                <th><input type="radio" name="choice1" value="피자" >피자
                <th><input type="radio" name="choice1" value="치킨">치킨
            <tr>
        </table>

        <button>선택</button>
    </div>
</form>
</body>
</html>