<head><title>Van Gogh BANK</title></head>
<style> span {color:gray; font-size:0.7em;} </style>
<body style="background-color:#F8ECE0">
<span>총 회원: ~ 명</span>
<div align="center">
<h1>Van Gogh BANK</h1> 
<form method="get" action="/login/check"> 
ID: <input type="text" name="id"> <p>
<input type="submit" value="login"> &nbsp;&nbsp; 
<a href="/member/register"> 회원가입 </a> <p>
</form> 
<img src="/Sunflowers.jpg" width="280" height="330" 
alt="해바라기 명화"><br>
<span>반 고흐의 해바라기 (출처:위키백과)</span>
</div> 
</body>